<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Django Text-Utils</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">textutils.xyz</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact">Contact Us</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <img style="width: 100%; height: 300px;"
        src="https://images.unsplash.com/photo-1536257104079-aa99c6460a5a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
        alt="about">

    <h1 style="color: white; margin-top: -110px; margin-left: 60px; font-size: 50px;">About Us</h1>

    <div class="container">
        <h1 style="margin-top: 100px;">Who We Are?</h1>
        <p style="font-size: 20px; margin-top: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam,
            maiores veritatis.
            Laborum placeat quod
            ipsam, nemo odio nisi tempore, sunt ea incidunt deserunt vitae saepe error, voluptatem molestiae natus
            nobis! Iste doloribus at soluta eius atque deleniti obcaecati animi porro incidunt nobis ducimus sint
            voluptate, rerum pariatur quod quis. Facere, nobis fuga, nulla magnam dolores magni modi, natus corporis
            dolor fugiat explicabo minus vitae necessitatibus. Excepturi suscipit ducimus aperiam repellendus mollitia
            atque est saepe error libero eligendi facere quia accusamus ullam expedita, aliquam, omnis nostrum,
            molestiae explicabo. Ex libero dolore totam explicabo odit inventore tempore, iusto consectetur! Ipsam,
            beatae nisi.</p>

        <p style="font-size: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam doloribus, minima
            illum recusandae sint aspernatur nobis ad cupiditate pariatur natus vitae! Ab voluptatibus vitae
            perspiciatis expedita ea alias pariatur neque, accusamus inventore maxime ipsa laborum veniam non nemo quae
            quo nam aliquam totam impedit reprehenderit aspernatur magnam ipsum autem? Quasi recusandae dolores quos
            odio animi neque eum quia dolor. Reprehenderit enim et iusto magni illo non quia dignissimos quod animi!
            Aspernatur enim dignissimos molestias a eveniet voluptatem, laborum dicta voluptatibus!</p>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
</body>

</html>